#cards {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.card {
  /* flex-basis, flex-grow, flex-shirnk */
  flex: 7% 0 1;
  /* 每個 item 分配容器寬度 */
  height: 8vw;
  /* 依視窗的寬度等比例變化 */
  border: 2px solid #e0e0e0;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 3px;
  font-size: 10px;
}

/* :last-child最後一個元素 */
.card p:last-child {
  /* 翻轉 */
  transform: rotate(180deg);
}

.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 90%;
}

#header .title {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
  object-fit: contain;
}

#header .title h2 {
  padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c90ac;
}

#header .tried {
  margin-top: 0;
}